sudo: false

language: java

jdk:
master
  - oraclejdk8
  - oraclejdk7

env:
  global:
    - MAVEN_OPTS="-Xms1024m -Xmx4096m -XX:PermSize=1024m"
    - JAVA_OPTS="-Xmx256m"
  
install:
 - mvn install

cache:
  directories:
  - $HOME/.m2

branches:
  only:
    - master
    - /^feature.*$/
   
notifications:
  email: false
  
script: mvn clean install